.cour__section{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: #e1e1e1;
    padding: 2% 0;
    }
.headline{
    font-family: "Montserrat semiBold";
    font-weight: 500;
    color: #014d5e;
    font-size: 1.rem;
    padding:2%;
}
.cour__section__card{
    display: flex;
    overflow-x: scroll;
}
.cour__section__card::-webkit-scrollbar{
    display: none;
}

/* RESPONSIVE DESIGN
@media screen and (max-width:768px)  {
    .cour__section__card{
       min-height: 250px;
    }
}
@media screen and (min-width:768px) and (max-width:968px){
    .cour__section__card{
        min-width: 11vw;
    }
} */

